In [1]:
import pandas as pd

In [2]:
%pwd

'F:\\Programmes\\Python\\Pandas'

In [3]:
my_parser = lambda x : pd.datetime.strptime(x, '%Y-%m-%d %I-%p')
df = pd.read_csv('..\\..\\..\\data\\1_data\\ETH_1h.csv', parse_dates = ['Date'], date_parser = my_parser)

c:\users\bhaum\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  """Entry point for launching an IPython kernel.

In [4]:
df.head()

                 Date  Symbol    Open    High     Low   Close      Volume
0 2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1 2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2 2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3 2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4 2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [5]:
# df['Date'] = pd.to_datetime(df['Date'], format = '%Y-%m-%d %I-%p')
# df.head()

In [6]:
df['day'] = df['Date'].dt.day_name()
df.head()

,Date,Symbol,Open,High,Low,Close,Volume,day
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday

#### Using date column as an index.

In [7]:
df.set_index('Date', inplace=True)

In [8]:
df.head()

,Symbol,Open,High,Low,Close,Volume,day
Date,,,,,,,
2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday

In [15]:
month_grp = df.resample('M')

In [22]:
month_grp.median().head()

               Open     High      Low    Close       Volume
Date
2017-07-31  216.700  219.700  212.500  216.600  1507865.990
2017-08-31  300.665  302.105  298.815  300.675  1492912.250
2017-09-30  293.745  295.445  291.405  293.745  1497725.905
2017-10-31  301.970  303.145  301.010  301.990   771831.600
2017-11-30  330.375  331.785  329.000  330.495  1776147.690

In [37]:
day_grp = df.resample('D')
day_grp[['High','Volume']].agg({'High':'max','Volume':'sum'}).head()

              High       Volume
Date
2017-07-01  279.99  28584024.81
2017-07-02  293.73  52262287.78
2017-07-03  285.00  35016353.53
2017-07-04  282.83  30109905.28
2017-07-05  274.97  43150162.52

In [36]:
close_grp = df['Close'].resample('M')
close_grp.mean()['2020']

Date
2020-01-31    155.085739
2020-02-29    238.009569
2020-03-31    208.767994
Freq: M, Name: Close, dtype: float64